<section id="new-post-container">
    
    <a class="navlink" id="new-post">Create New Blog Post</a>

    <div id="post-container" style="display:none">
            <h2 class="title">New Post</h2>
            <div>
                <label for="post-title">Post Title:</label>
                <input class="form-input" type="text" id="post-title" />
            </div>
            <div>
                <label id="content-lable" for="post-content">Post Content:</label>
                <textarea id="post-content"></textarea>
            </div>
            <div>
                <button id="post-button">Post!</button>
            </div>
    </div>
</section>


<h3 id="user-post-header">Your Previous Posts:</h3>

{{#each blogPosts as |blogPost|}}

<section class="blog-post">

<h3 class="blog-title">{{blogPost.blog_title}}</h3>
<h4 class="author">posted on: {{formatTime blogPost.createdAt}} {{formatDate blogPost.createdAt}} by {{blogPost.user.username}}</h4>
<a class="read-more" href="/api/blogpost/{{blogPost.id}}">Go To Post</a>

</section>
{{/each}}


<script src="/js/newPost.js"></script>







