<section id="post-container">
    
    <textarea id="title-box" readonly="true">{{post.blog_title}}</textarea>
    <textarea id="text-box" readonly="true">{{post.blog_text}}</textarea>
    <p id="author-info">Posted by {{post.user.username}} on {{formatTime post.createdAt}} {{formatDate post.createdAt}}</p>
 
    {{#if ownPost}}
    <section>
        <a class="navlink" id="edit-post">Edit Post</a>
        <a class="navlink" id="delete-post">Delete Post</a>
    </section>
    {{/if}}
</section>

<section id="post-comment">
    <p>Leave a Comment:</p>
    <input type="text" id="comment">
    <a class="navlink" id="submit-comment" data-id="{{post.id}}">Submit Comment</a>
</section>

<section id="previous-comments">
    <h3>Previous Comments:</h3>

    {{#each comments as |comment|}}
    <div class="comment-box">
        <P class="commenter-info">{{comment.user.username}} commented on {{formatTime comment.createdAt}} {{formatDate comment.createdAt}}:</P>
        <textarea id="comment-content" class="comment-text" readonly="true" data-id="{{comment.id}}">{{comment.comment_text}}</textarea>
        {{#if isOwnComment}}
        <div>
            <a class="edit-comment" id="edit-comment-{{comment.id}}" data-id="{{comment.id}}">Edit Comment</a>
            <a class="delete-comment" id="delete-comment-{{comment.id}}" data-id="{{comment.id}}">Delete Comment</a>
        </div>
        {{/if}}
    </div>
    {{/each}}
</section>

<script src="/js/postComment.js"></script>
{{#if ownPost}}
<script src="/js/postManagement.js"></script>
{{/if}}

